<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <h2>Váš účet byl vytvořen!</h2>
  <p>&nbsp;</p>
  Aktivujte ho kliknutím na tento <a th:href="${address}">odkaz</a>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Tento e-mail byl automaticky vygenerován, neodpovídejte prosím na něj.</strong></p>
</body>
</html>
