<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <h2>Změna v termínu zkoušky</h2>
  <h3>V termínu zkoušky, do kterého jste byli přiřazeni, došlo ke změně</h3>
  <p>&nbsp;</p>
  <h3>Aktualizované informace o termínu zkoušky a vašem umístění:</h3>
  <ul>
    <li><strong>Název zkoušky:</strong>&nbsp;<span th:text="${termName}"></span></li>
    <li><strong>Předmět:</strong>&nbsp;<span th:text="${courseAbbreviation}"></span>&nbsp;-&nbsp;<span th:text="${courseName}"></span></li>
    <li><strong>Čas začátku vašeho běhu zkoušky:</strong>&nbsp;<span th:text="${termRunStartTime}"></span></li>
    <li><strong>Místnost:</strong>&nbsp;<span th:text="${roomAbbreviation}"></span>
      <ul>
        <li><strong>Řada</strong><span style="color: #ff0000;">*</span><strong>:</strong>&nbsp;<span th:text="${roomRow}"></span></li>
        <li><strong>Sloupec</strong><span style="color: #ff0000;">*</span><strong>:</strong>&nbsp;<span th:text="${roomColumn}"></span></li>
      </ul>
    </li>
  </ul>
  <p><span style="color: #ff0000;">*</span>&nbsp;Počítáno odzdola nahoru a zleva doprava</p>
  <p>&nbsp;</p>
  <div th:if="${emailMessage != ''}">
    <h3>Zpráva od učitele:</h3>
    <p>&nbsp;</p>
    <span style="white-space: pre-wrap" th:text="${emailMessage}"></span>
    <p>&nbsp;</p>
  </div>
  <p>&nbsp;</p>
  Všechny své zkoušky si můžete zobrazit <a th:href="${frontendAddress}">zde</a>. Pro registraci a přihlášení použijte svůj školní e-mail.
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Tento e-mail byl automaticky vygenerován, neodpovídejte prosím na něj.</strong></p>
</body>
</html>
