<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <h2>Nová žádost o obnovení hesla</h2>
  <p>&nbsp;</p>
  Obnovení hesla proveďte přes tento <a th:href="${address}">odkaz</a>
  <p>&nbsp;</p>
  Pokud jste o změnu hesla nežádali, můžete tento e-mail ignovat.
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Tento e-mail byl automaticky vygenerován, neodpovídejte prosím na něj.</strong></p>
</body>
</html>
