<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <h2>Nový termín zkoušky</h2>
  <h3>Byl vytvořen nový termín zkoušky, do kterého jste byli přiřazeni</h3>
  <p>&nbsp;</p>
  <h3>Informace o termínu zkoušky:</h3>
  <ul>
    <li><strong>Název zkoušky:</strong>&nbsp;<span th:text="${termName}"></span></li>
    <li><strong>Předmět:</strong>&nbsp;<span th:text="${courseAbbreviation}"></span>&nbsp;-&nbsp;<span th:text="${courseName}"></span></li>
  </ul>
  <p>&nbsp;</p>
  <h3 th:if="${emailMessage != ''}">Zpráva od učitele:</h3>
  <span style="white-space: pre-wrap" th:text="${emailMessage}"></span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  Všechny své zkoušky si můžete zobrazit <a th:href="${frontendAddress}">zde</a>. Pro registraci a přihlášení použijte svůj školní e-mail.
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Tento e-mail byl automaticky vygenerován, neodpovídejte prosím na něj.</strong></p>
</body>
</html>
