<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <h2>Odebrání z termínu zkoušky</h2>
  <h3>Byl jste odebrán z následujícího termínu zkoušky:</h3>
  <ul>
    <li><strong>Název zkoušky:</strong>&nbsp;<span th:text="${termName}"></span></li>
    <li><strong>Předmět:</strong>&nbsp;<span th:text="${courseAbbreviation}"></span>&nbsp;-&nbsp;<span th:text="${courseName}"></span></li>
    <li><strong>Čas začátku běhu zkoušky:</strong>&nbsp;<span th:text="${termRunStartTime}"></span></li>
  </ul>
  <p>&nbsp;</p>
  Všechny své zkoušky si můžete zobrazit <a th:href="${frontendAddress}">zde</a>. Pro registraci a přihlášení použijte svůj školní e-mail.
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Tento e-mail byl automaticky vygenerován, neodpovídejte prosím na něj.</strong></p>
</body>
</html>
